<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<title>All farms</title>


<ol>
  {% for farm_id, farm in farms.items() %}
  <li>
    <a href="{{ url_for('farm', farm_id=farm_id) }}">
      {{ farm.name }}
    </a>
  </li>
  {% endfor %}
</ol>




<script>
$(document).ready(function() {
    var max_fields      = 15; //maximum input boxes allowed
    var wrapper         = $(".new_box"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><input type="text" name="products"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>



<form class="farm-editor" action="{{ url_for('farmlist') }}" method="post">
  
  <label>Farmers Market Name
    <br>
    <input name="name" type="text">
  </label>
  <br>
  <label>Description
     </label>
     <br>
  <textarea name="description"></textarea>
  <br>  
  <br>
  <label>Products
     </label>
    <br>
     <div class="new_box">
         <button class="add_field_button">Add More Products(MAX 15)</button>
        </div> 
      <input type="text" name="products" />  <br/>
  <br>  
  <input class="create" type="submit" value="create new Farmers Market">

</form>


    
 
