<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ farm.title }}</title>

<body itemscope itemtype="http://schema.org/CreativeWork/LocalBusiness"
                vocab="http://schema.org/"
                prefix="helpdesk:https://cdn.jsdelivr.net/gh/sils-webinfo/helpdesk/vocab.ttl#">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>
<a href="http://getschema.org/microdataextractor?url={{ request.url }}&out=json">
view data extracted from microdata markup</a><br>  
<a href="{{ request.path }}.json">
view data as JSON-LD</a>

<h1 class="title" itemprop="name" property="LocalBusiness">{{ farm.title }}</h1>  

<p class="description" itemprop="description" property="description">{{ farm. description }}</p>



<time itemprop="dateCreated" property="dateCreated"
      datetime="{{ farm.time }}">{{ farm.time }}</time>

<form class="help-request-editor" method="patch">
  
  <br>


<form class="request-editor" action="{{ url_for('order') }}" method="post">
  <label>Items<br>
    </label>
    <ul>
      {% for item in farm.products %}
      <li itemprop="products" itemscope itemtype="http://schema.org/products"
          property="products" typeof="products">
        
        <input type="checkbox" name="products" value="{{ item }}" /> {{ item }} <br/>
      </li>
      {% endfor %}
        <input class="create" type="submit" value="Order">
        </form>
    </ul>
  <br

<br>
<a rel="collection" href="{{ url_for('helprequestlist') }}">all help requests</a>

</body>


