<!DOCTYPE html>
<html>
    
<title>Reserve Spot</title>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

<form action="action_page.php">
  Farm Name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
    Hours Of Operation:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
    Days of Operation:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
   

  
  <br><br>
  <input type="submit" value="Submit">
</form> 
    


 
    
    
</body>

</html>